<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
	<title>Created</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css"
		  href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
	<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
</head>
<body>
	<h1>
		MeetMe!
	</h1>
	<br />
	<br />
	{% if session.deleted is undefined %}
	<h3>Event Name:</h3>
	{% else %}
	<h3>Event Deleted:</h3>
	{% endif %}
	<output type="text" name="event_name">{{ session.event_name }}</output>
	<h3>Date range for the event:</h3>
	<output type=date name="begin_date" id="begin_date">{{ session.begin_date | fmtdate }}</output>
	<output type=time name="begin_time" id="begin_time">{{ session.begin_time}}</output>
	<br />
	<br />
	<output type=date name="end_date" id="end_date">{{ session.end_date | fmtdate }}</output>
	<output type=time name="end_time" id="end_time">{{ session.end_time}}</output>
	<br />
	{% if session.deleted is undefined %}
	<button class="finalize" id="finalize">Finalize Event</button>
	<br />
	<h3 hidden id="creating">Creating Event, Please Wait....</h3>
	<h3 hidden id="done">Event Created!</h3>
	<h3 hidden id="exists">Event already exists, please change some information</h3>
	<br />
	<br />
	<output hidden id="event_hash_msg">Event Hash: </output>
	<output hidden id="event_hash" name="event_hash"></output>
	<p id="mailLink">Finalize to make a link!</p>
	<button hidden class="join_button" id="join_button" type="submit">Join This Event</button>
	<br />
	<a hidden id="route_create" type="button" href="Create" class="btn btn-lg btn-success">Create</a>
	{% else %}
	<a type="button" href="Create" class="btn btn-lg btn-success">Create</a>
	{% endif %}
	<script>
		var SCRIPT_ROOT = {{ request.script_root|tojson | safe }} ;
		var FINALIZE_JSON = SCRIPT_ROOT + "/_finalize";
		var TOKEN_JSON = SCRIPT_ROOT + "/_token";
		var TOKEN_URL = SCRIPT_ROOT + "/Token";
		var INVITE_JSON = SCRIPT_ROOT + "/_invite";

		// Stackoverflow hash
		String.prototype.hashCode = function () {
			var hash = 0, i, chr;
			if (this.length === 0) return hash;
			for (i = 0; i < this.length; i++) {
				chr = this.charCodeAt(i);
				hash = ((hash << 5) - hash) + chr;
				hash |= 0; // Convert to 32bit integer
			}
			return hash;
		};

		$(document).ready(function () {
			
			$('.finalize').click(function () {
				document.getElementById("join_button").disabled = true;
				document.getElementById("finalize").disabled = true;
				document.getElementById("route_create").disabled = true;
				$('#creating').removeAttr('hidden');

				var event_name = "{{ session.event_name }}";
				var begin_date = "{{ session.begin_date }}";
				var begin_time = "{{ session.begin_time }}";
				var end_date = "{{ session.end_date }}";
				var end_time = "{{ session.end_time }}";

				var hash = event_name + begin_date + begin_time + end_date + end_time;
				hash = hash.hashCode();
				console.log("hash for event: " + hash);

				document.getElementById("mailLink").innerHTML = "Getting invite link.....";

				$.getJSON(FINALIZE_JSON, {
					event_name: event_name,
					begin_date: begin_date,
					begin_time: begin_time,
					end_date: end_date,
					end_time: end_time,
					event_hash: hash
				},
					function (data) {
						console.log("status: " + data.result.status);
						console.log(data.result);

						$('#event_hash').val(data.result.event_hash);

						if (data.result.status) {
							$('#join_button').removeAttr('disabled');
							$('#join_button').removeAttr('hidden');
							$('#event_hash_msg').removeAttr('hidden');
							$('#event_hash').removeAttr('hidden');
							$('#done').removeAttr('hidden');
							document.getElementById("creating").hidden = true;
							document.getElementById("event_hash").innerHTML = hash;
							
							document.getElementById("mailLink").innerHTML = data.result.inv;


						}
						else {
							$('#join_button').removeAttr('disabled');
							$('#join_button').removeAttr('hidden');
							document.getElementById("creating").hidden = true;
							$('#exists').removeAttr('hidden');
							$('#route_create').removeAttr('disabled');
							$('#route_create').removeAttr('hidden');

							document.getElementById("mailLink").innerHTML = data.result.inv;

						}
					}// End Return
				);// End JSON
			});// End .sumbit

			$('.join_button').click(function () {

				var join_hash = $('#event_hash').val()

				$.getJSON(TOKEN_JSON, { event_hash: join_hash },
					function (data) {
						if (data.result)
							window.location.assign(TOKEN_URL);
					}// End Return
				);// End Return/JSON
			});// End .join_button

		}); // End Document Ready

	</script>
</body>
</html>