<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
	<title>Appointments</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css"
		  href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

	<link rel="stylesheet" type="text/css"
		  href="/static/css/busy.css" />
	<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>
<body>
	<div class="container">
		<h1>Busy times</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

		<h2>Date range</h2>
		<form action="/setrange" method="post">
			{% if session.begin_date is defined %}
			<input type=date name="begin_date" id="begin_date" value={{ session.begin_date }} />
			<input type=time name="begin_time" id="begin_time" value={{ session.begin_time }} />
			<input type=date name="end_date" id="end_date" value={{ session.end_date }} />
			<input type=time name="end_time" id="end_time" value={{ session.end_time }} />
			{% else %}
			<input type=date name="begin_date" id="begin_date" value="2017-01-01" />
			<input type=time name="begin_time" id="begin_time" value="00:00" />
			<input type=date name="end_date" id="end_date" value="2017-01-01" />
			<input type=time name="end_time" id="end_time" value="00:00" />
			{% endif %}
			<br />
			<input type="submit" value="Choose" />
		</form>

		<!-- Show the calendar list (if we have it) -->
		{% if g.calendars is defined  %}
		<h3>Calander Select</h3>
		<form action="/getevents" method="post">
			<div class="row">
				{% for cal in g.calendars %}
				<div class="col-md-1"><input id="checkBox" name="{{cal.id}}" type="checkbox"></div>
				<div class="col-md-3">
					{{ cal.summary }}
				</div>
				{% if loop.index is divisibleby 3 %}
			</div> <div class="row">
				{% endif %}
				{% endfor %}
			</div>
			<br/><input type="submit" value="Get Events" />
		</form>
		{% endif %}

		{% if session.events|length > 0 %}
		<div id="events">
			<h3>{{ session.EventLength }} Events</h3>
			<div class="row">
				{% for event in session.events %}
				<div class="col-md-4">
					<p>
						Summary: {{ event.name }}
						<br />
						Start: {{ event.start | fmtdate }} {{ event.start | fmttime }}
						<br />
						End: {{ event.end | fmtdate }} {{ event.end | fmttime }}
					</p>
				</div>
				{% if loop.index is divisibleby 3 %}
			</div> <div class="row">
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endif %}

		{% if session.freebusy|length > 0 %}
		<h3>Time Blocks</h3>
			{% for block in session.freebusy %}
			<h4>{{ block.Day }}</h4>
				<div class="row">
					{% for FreeBusy in block.FreeBusy %}
						<div class="col-xs-2 col-md-1">
							<p>
								{{ FreeBusy.FB }}
								<br />
								{{ FreeBusy.S }}
								<br />
								{{ FreeBusy.E }}
							</p>
						</div>
						{% if loop.index is divisibleby 12 %}
						</div> <div class="row">
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<script type="text/javascript">

		var SCRIPT_ROOT = {{ request.script_root|tojson | safe }} ;
		var GET_MEMOS_URL = SCRIPT_ROOT + "/_getmemos";
		var CREATE_MEMO_URL = SCRIPT_ROOT + "/_create";
		var DELETE_MEMO_URL = SCRIPT_ROOT + "/_delete";

		var rowNum = 0;

		function createRow(memo) {
			var row = document.getElementById('init_row').cloneNode(true); // create row node
			var id = "memo_row" + rowNum++;
			row.id = id;
			row.removeAttribute("hidden");
			var table = document.getElementById("memotable").getElementsByTagName('tbody')[0]; // find table to append to
			table.appendChild(row); // append row to table
			$('output[name="date"]', "#" + id).val(memo.visDate);
			$('output[name="memo"]', "#" + id).val("\t" + memo.text);
			$('output[name="index"]', "#" + id).val(memo.index);
		}

		function makeMemoTable() {
			$.getJSON(GET_MEMOS_URL, {},
				// response handler
				function (data) {
					var memos = data.result.memos;
					console.log(memos);
					for (var i = 0; i < memos.length; i++) {
						createRow(memos[i]);
					}

					// Make delete buttons do things
					$('.delete').click(function () {
						var td = $(this).parent();
						var tr = td.parent();
						var index = tr.find("output[name='index']").val();
						console.log("Del index: " + index);
						$.getJSON(DELETE_MEMO_URL, { memoIndex: index },
							// Delete handler
							function (data) {
								console.log("Deleted: " + data.result.deleted);
							} // end of Delete function
						);// End of getJSON
						tr.remove();
					});
				} // end of handler function
			);// End of getJSON
		}

		$(document).ready(function () {
			// Create Memo Table
			makeMemoTable();

			$('.submit').click(function () {
				var newText = $('input[name="InputField"]').val();
				var inputDate = $("#input_date").val() + " " + $("#input_time").val();
				$.getJSON(CREATE_MEMO_URL, { newMemo: newText, inputDate: inputDate },
					function (data) {
						console.log("status: " + data.result.status);
						makeMemoTable();
					}
				);
			});
		});   // end of what we do on document ready

	</script>
</body>

</html >