<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css"
		  href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
	<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
</head>
<body>
	<h1>
		MeetMe!
	</h1>
	<br/>
	<h3>
		This project is to help users meet up via their google calanders
	</h3>
	<br />
	<p>
		Security Info:
		This app will ask you to authinticate with your google account. It will
		then pull your calender information, ask you if you wish to ignore certain
		events, then will only log your free/busy times. It WILL NOT save your event
		titles, and will only track free/busy times withen the given range.
		Whenever this app will potentially save data, the user will be notified.
	</p>
	<br />
	<br />
	<h1>
		Select User Type:
	</h1>
	<br />
	<a type="button" href="Create" class="btn btn-lg btn-success">Create</a>
	<a type="button" href="Token" class="btn btn-lg btn-success">Join</a>
</body>

</html>